@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Oswald:300,400');


/*COLOR SCHEMES
#17252A
#2B7A78
#3AAFA9
#DEF2F1
#FEFFFF

#515151   
*/


/* GLOBAL */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #FEFFFF !important;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  border: none;
}

a {
    text-decoration: none;
    color: #1ab188;
}

/* GLOBAL */
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1,h2 {
  margin: 0 0 40px;
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

p.lead {
  font-weight: normal;
}

p {
  margin: 0 0 15px;
}

/* ABOUT */
#about {
  height: 100vh;
  padding-top: 50px;
}
/* CAROUSEL*/
.carousel-item {
  height: 100% !important;
}
.carousel-item img{
  height: 100vh;
  width: 100%;
}

/*.heading {
  text-align: center;
}*/

.form {
    vertical-align: middle;
    background: #17252a;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1 {
    color: white;
    text-align: center;
}




/* FORM */

.field {
    margin: 25px;
}

#register h1, #login h1, #add_bus h1, #add_train h1 {
  color: #FEFFFF;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

button[type="submit"] {
    width: 91%;
    display: block;
    margin: 0 auto;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    cursor: pointer;
}


/* PROFILE LINKS */

.profile-link {
    width: 250px;
    height: 75px;
    padding: 20px;
    border-style: solid;
    border-color: #0000EE;
    margin: 15px;
}


/* QR CODE */
#qr-text {
  width: 0;
  border: none;
}
.qrcode-text {
    /*padding-right: 1.7em;*/
    /*margin-right: 0*/
}

.qrcode-text-btn {
    display: inline-block;
    background: url(../img/qricon.png) /*50% 50%*/ no-repeat !important;
    /*background-color: black;*/
    height: 250px;
    width: 250px;
    /*margin-left: -1.7em;*/
    cursor: pointer
}

.qrcode-text-btn>input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0
}

/* PAYMENT CARD */
.card {
    vertical-align: middle;
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}